name: Flutter CI (compat fixed)

on:
  push:
  pull_request:

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '11'

      # نسخه Flutter که هم با Gradle و هم با TextTheme جدید هماهنگ است
      - name: Set up Flutter 3.3.10
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.3.10'
          channel: stable
          cache: true

      - name: Flutter doctor
        run: flutter doctor -v

      - name: Pub get (example)
        working-directory: example
        run: flutter pub get

      - name: Build APK (example)
        working-directory: example
        env:
          _JAVA_OPTIONS: -Xmx2048m
        run: flutter build apk --release --no-shrink

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release.apk
          path: example/build/app/outputs/flutter-apk/app-release.apk
